<h1 mat-dialog-title>{{ (data?.state != 'Add') ?  'Vehicle Details':'Add Vehicle'}}</h1>
<mat-dialog-content class="mat-typography" >
  <div class="row">
    <div class="col">
        <mat-form-field class="mr-4" hintLabel="{{data.sellerName ? '' : 'Max 20 characters'}}">
          <input id="sn" matInput placeholder="Enter Seller Name" [(ngModel)]="data.sellerName" [formControl]="SellerNameControl" required>
          <mat-error id="nameErr" *ngIf="SellerNameControl.invalid">Enter Valid Sellers Name</mat-error>
        </mat-form-field>
      </div>

    <div class="col">
      <mat-form-field class="mr-4" hintLabel="{{data.address ? '' : 'Max 20 characters'}}">
        <input id="address" matInput placeholder="Enter Street Address" [(ngModel)]="data.address" [formControl]="AddressControl" required>
        <mat-error id="addressErr" *ngIf="AddressControl.invalid">Enter Valid Street Address</mat-error>
      </mat-form-field>
    </div>
    
    <div class="col">
      <mat-form-field class="mr-4" hintLabel="{{data.city ? '' : 'Max 10 characters'}}">
        <input id="city" matInput placeholder="Enter City" [(ngModel)]="data.city" [formControl]="CityControl" required>
        <mat-error  id="cityErr" *ngIf="CityControl.invalid">Enter Valid City</mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="mr-4">
        <input id="phone" matInput placeholder="Enter Phone Number" (blur)="PhoneHasError()"[(ngModel)]="data.phoneNumber" [formControl]="PhoneControl" required>
        <mat-error id="phoneErr" *ngIf="EmailControl.invalid || PhoneControl.hasError('pattern')">Enter Valid Phone Number</mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="mr-4">
        <input id="email" matInput placeholder="Enter Email" [(ngModel)]="data.email"  [formControl]="EmailControl" required>
        <mat-error id="emailErr" *ngIf="EmailControl.invalid || EmailControl.hasError('pattern')">Enter Valid Email</mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="mr-4" hintLabel="{{data.vehicleMake ? '' : 'Max 15 characters'}}">
        <input id="make" matInput placeholder="Enter Vehicle Make" [(ngModel)]="data.vehicleMake"  [formControl]="MakeControl" required>
        <mat-error id="makeErr" *ngIf="MakeControl.invalid">Enter Valid Make</mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="mr-4" hintLabel="{{data.vehicleModel ? '' : 'Max 15 characters'}}">
        <input id="model" matInput placeholder="Enter Vehicle Model" [(ngModel)]="data.vehicleModel"  [formControl]="ModelControl" required>
        <mat-error id="modelErr" [hidden]="!ModelControl.invalid">Enter Valid Vehicle Model</mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="mr-4" hintLabel="{{data.vehicleYear ? '' : 'Max 4 characters'}}">
        <input id="year" matInput placeholder="Enter Vehicle Year" [(ngModel)]="data.vehicleYear"  [formControl]="YearControl" required>
        <mat-error id="yearErr" *ngIf="YearControl.invalid">Enter Valid Vehicle Year</mat-error>
      </mat-form-field>
    </div>
    <div class="col" *ngIf="data?.state != 'Add'">
      <a href="javascript:void(0)" (click)="NavigateToSite()">{{link}}</a>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="'cancel'">Cancel</button>
  <button mat-button *ngIf="data?.state == 'Add'" id="addBtn" [disabled]="isButtonDisbled()" [mat-dialog-close]="data" cdkFocusInitial>Add</button>
</mat-dialog-actions>